.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background-color: #d1d1cf;
}

.header__left {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid black;
}

.header__inputButton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__center {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.header__center a {
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.header__center a:hover {
  border-bottom: 2px solid rgb(0, 162, 255);
  text-decoration: none;
}

.header__center a img {
  height: 30px;
  cursor: pointer;
}

.header__center a p {
  color: #746c6c;
  font-size: 12px;
  text-align: center;
}

.header__search {
  display: flex;
  background: transparent;
  border-radius: 4px;
  border: 1px solid black;
  height: 30px;
  width: 250px;
  padding: 3px 5px;
}

.header__search:hover {
  background: #ebeaea;
}

.header__search input {
  padding: 0 10px;
  border: none;
  background: none;
  outline: none;
}

.header__search img {
  cursor: pointer;
}

.mobile__search {
  margin-left: 14vw;
}

.mobile__menu {
  margin-right: 20px;
}

/* Media Queries */

@media (max-width: 1160px) {
  .header__search {
    display: none;
  }
  .mobile__search {
    display: block;
  }
}

@media (min-width: 1160px) {
  .mobile__search {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__icons {
    display: none;
  }
  .header__center {
    display: none;
  }
}

@media (min-width: 900px) {
  .mobile__menu {
    display: none;
  }
}
