/* Job Card Style */

.job__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid rgb(201, 199, 199);
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: #e6e6e6;
  width: 270px;
  height: 300px;
}

.card__top {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 10px 10px;
}

.card__top p {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}

.card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px;
}

.card__bottom p:first-child {
  font-size: 18px;
  font-weight: 500;
  text-align: start;
}
.card__bottom p:nth-child(2) {
  font-size: 16px;
  font-weight: 300;
  text-align: start;
}

.card__bottom a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .job__cards {
    width: 246px;
  }
}
