/* Create Job Style */
.create__job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: auto;
}

.create__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  height: 100vh;
  width: auto;
}

.create__headings {
  margin: 20px 0;
}

.create__inputs {
  background: #ffffff;
  border-radius: 10px;
  width: 30vw;
  height: 45vh;
  padding: 30px 40px;
}

.input__box {
  display: flex;
  flex-direction: column;
}

.input__box input {
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.input__box select {
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
}

.create__button {
  margin: 20px 0;
}
