/* JobPage Style */

.jobpage {
  display: flex;
  flex-direction: column;
}

.jobpage__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: #e6e6e6;
  /* border: 1px solid rgb(201, 199, 199); */
}

.jobpage__title p {
  font-size: 22px;
  font-weight: bold;
}

.jobpage__body {
  display: flex;
  margin: 0 10px;
}

.jobpage__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid rgb(201, 199, 199);
  padding: 15px 15px;
  margin: 20px 20px;
  width: 270px;
  height: 300px;
}

#card1 {
  background: #e6e6e6;
}

.card__cancel {
  display: flex;
  justify-content: flex-end;
}

.card__cancel button {
  padding: 0px 0px;
}

/* #cancel {
  display: none;
} */
/* 
.card:hover + #cancel {
  visibility: visible;
} */

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 30px;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info h5 {
  margin-bottom: 15px;
}

.card__info a button {
  background: lightgray;
  /* padding: 4px 8px; */
  border-radius: 6px;
  font-size: 14px;
  margin: 5px;
}
