/* Register Page Style */

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(https://images.pexels.com/photos/3184454/pexels-photo-3184454.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}

.register-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 500px;
  margin: auto;
  background: #d1d1cf;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 14px 6px rgb(199 212 241);
  -moz-box-shadow: 0 0 14px 6px rgb(199 212 241);
  box-shadow: 0 0 14px 6px rgb(199 212 241);
}

/* Register Error */

.register-error {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.register-error span {
  margin: 20px 0;
  color: rgb(216, 93, 93);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.register-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title label {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 10px 0;
}

.register-title h2 {
  font-size: 30px;
  font-weight: bold;
  color: #5f5f61;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form div {
  padding: 15px 0;
}

.register-form p {
  margin-bottom: 2px;
}

.register-form input {
  width: 380px;
  padding: 10px 15px;
  border: 1px solid rgb(179, 173, 173);
  border-radius: 5px;
  outline: none;
}

.register-form input:focus {
  border: 2px solid rgb(31, 97, 219);
  outline: none;
}

.register-button button {
  border-radius: 4px;
  background: #d1d1cf;
  color: rgb(99, 87, 87);
  border: 1px solid rgb(119, 113, 113);
  font-size: 16px;
  font-weight: bold;
}

.login-redirect {
  display: flex;
  width: 390px;
  justify-content: space-between;
}

.login-redirect p {
  font-size: 14px;
}

.login-redirect a {
  color: rgb(70, 70, 180);
  font-size: 14px;
  font-weight: bold;
  padding: 0 5px;
}
